<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
    <h3>Write New Chat</h3>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="Name of the Sender"><br><br>
        <textarea name="msg" >Write your message here !!</textarea><br><br>
        <input type="text" name="to" placeholder="Name of the Reciever"><br><br>
        <button>Create the new chat</button>
    </form>
</body>
</html>

